.header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px lightgrey solid;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top__left {
  display: flex;
}
.logo img {
  padding: 25px;
  margin-right: 1.5em;
  width: 100px;
}
.top__right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: 20px;
}
.top__right > .MuiAvatar-root {
  margin-left: 10px;
}

.top__right > .MuiAvatar-root:hover {
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .header {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    position: static;
  }
  .top__left {
    margin-left: 140px;
    flex-direction: column;
    align-items: center;
  }
  .top__right > .MuiSvgIcon-root {
    display: none;
  }
  .top__right > .MuiAvatar-root {
    margin-bottom: 80px;
  }
  .header__top {
    display: grid;
    justify-content: baseline;
    margin-left: 50px;
    grid-template-columns: 0px 50px;
  }

  .logo img {
    height: 30px;
    padding: 5px;
    margin-top: 30px;
    margin-left: 30px;
  }
}
